@media only screen and (max-width: 779px){
    body{
        position: relative;
    }
    .container{
        padding: 16px;
        height: 100%;
    }
    nav{
        width: 95%;
    }
    .searchForm input{
        width: 90%;
    }
    .secondSection{
        width: 95%;
    }
    .songlistMain{
        width: auto;
    }
    main{
    width: 100%;
    }
    /* .controller{
        display: none;
    }
    .controller1{
        display: block;
        position: sticky;
        top: 0;
        left: 0;
        border-radius: 0px;
    }
    .ctrl1{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        gap: 15px;
    } */
}