@media only screen and (max-width: 779px){
    body{
        position: relative;
    }
    .container{
        padding: 16px;
        height: 100%;
    }
    nav{
        width: 95%;
    }
    .searchForm input{
        width: 90%;
    }
    .secondSection{
        width: 95%;
    }
    .songlistMain{
        width: auto;
    }
    .dNone{
        display: none;
    }
    main{
    width: 100%;
    }
    .tooltiptext{
        right: 0;
        top: 20px;
    }
    .forTooltip h1{
        width: 100%;
        text-align: center;
    }
    .searchForm{
        width: 100%;
    }
    .sideButton{
        display: block;
        height: auto;
        width: auto;
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        transform: rotate(270deg);
        left: -70px;
    }
    .sidebtn{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    #songs{
        padding: 5px 10px;
        border: none;
        outline: none;
        background-color: rgb(255, 0, 140);
        color: #ffffff;
        border-radius: 0px 0px 5px 5px;
        cursor: pointer;
        font-size: 14px;
        font-weight: 600;
    }
    #featured{
        padding: 5px 10px;
        border: none;
        outline: none;
        background-color: #4500e7;
        color: #ffffff;
        border-radius: 0px 0px 5px 5px;
        cursor: pointer;
        font-size: 14px;
        font-weight: 600;
    }
    .logo{
        justify-content: center;
        width: 100%;
    }
}